*{
font-family: 'Dancing Script',cursive;
}
header{
  background-color: #5b7989;
  border-radius: 10px 10px 0px 0px ;
  display: flex;
  justify-content:space-between;
  text-align: center;
}
.titulo{
  text-align: left;
  color: white;
  filter: drop-shadow(3px 3px 3px #02010a);
}
header div{
    text-align: right;
    margin-top: 32px;
}
.menu a:nth-child(1){
  text-decoration: none;
}
div a{

  font-size: 20px;
}
.centroImagen{
  text-align: center;
  background: #82c3a6;
}


.img1{
  width: 80%;
  box-shadow: 2px 2px 2px  #82c3a6;
}
.er{
  display: flex;
  background:  #d5c75f;
}
.mg{
  text-align: center;
  width: 50%;
}
.img2,.img1,.img3{
  width: 90%;
  height: 350px;
  border: 1px solid;
}
@media (max-width: 800px) {
	.titulo, .menu{
	text-align: center;
	}

header,.er,.mg{
	display: block;
  width: 100%;
	text-align: center;
}
.img1,.img2,.img3{
  width:90%;
  height: 90%;
  text-align: center;
}


}

@keyframes rodar{

to{
	transform: rotate(10deg);
}
}
.img1:hover{
  animation: rodar 2s infinite;
  border: 2px solid;
}
@keyframes tras{

to{
	transform: translate(5px,-20px);
}

}
.img2:hover{
  animation: tras 2s infinite;
	box-shadow: 2px 2px 2px 2px #82c3a6;
  border: 2px solid black;
}
.contenedor{
  display: flex;
  justify-content: space-between;
}

.bloque1,.bloque2,.bloque3,.bloque4{
  width: 25%;
}

@media (max-width: 600px) {
  .contenedor{
  display: block;
  text-align: left;
  margin: 15px
  }
  .bloque1,.bloque2,.bloque3,.bloque4{
    width: 100%;
  }
}
